{#
To change or add data to the default settings use the twig merge filter
{% set plyr_settings = plyr_settings|merge({'loadSprite':false,'blankVideo': '/'~active_theme_path()~'/assets/video/blank.mp4'}) %}
#}
<video{{ attributes }} playsinline data-plyr-config='{{ plyr_settings|json_encode|raw }}'>
  {% for file in files %}
    <source {{ file.source_attributes }} />
  {% endfor %}
</video>
